<body>
  <div class="container">
<h1>User Profiles</h1>
<br>
<p>
<<<<<<< HEAD
	<table class="table table-striped">
	<tr><th>Name</th>
		<th>Email</th>
	</tr>
		<% @profiles.each do |profile| %>
		<tr>
		<td><h5><%= link_to profile.name, profile_path(profile) %></h5></td>
		<td><h5><%= profile.email %></h5></td>
	</tr>
		
=======
	<% @profiles.each do |profile| %>
		<table>
		<%=  link_to profile.name, profile_path(profile) %>
		</table>
>>>>>>> 89d7a7590d4d341a7363cfb9affed15951e9d552
	<% end %>
</table>
</p>
</br>
 </div>
</body>
